{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RepCheck</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description"
              content="A website to help citizens engage with, track, and understand what actually happens in Congress">
        <meta name="keywords"
              content="politics, congress, citizens, laws, bills, taxes, infrastructure, stocks, FTC, SEC, ">
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        {% tailwind_css %}
    </head>
    <body class="min-h-screen flex flex-col bg-fixed bg-cover bg-center bg-no-repeat"
          style="background-image: url('{% static 'theme/images/backgroundrepcheck.webp' %}')">
        <div class="bg-base-100 bg-opacity-80">
            <div class="navbar bg-secondary drop-shadow-xl shadow-black">
                <div class="navbar-start">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h7" />
                            </svg>
                        </div>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content bg-info rounded-box z-[1] mt-3 w-32 p-2 shadow text-white">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a class="bg-accent">Profile</a>
                            </li>
                            <li>
                                <a class="bg-secondary" href="{% url 'congress' %}">Congress</a>
                            </li>
                            <li>
                                <a class="bg-primary" href="{% url 'legislation_landing_page' %}">Legislation</a>
                            </li>
                            <li>
                                <a class="bg-base-100">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-center">
                    <a class="btn btn-ghost text-2xl font-bold"
                       href="{% url 'landing_page' %}">RepCheck</a>
                </div>
                <div class="navbar-end">
                    <button class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                    <button class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                            </svg>
                            <span class="badge badge-xs badge-primary indicator-item"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div id="content" class="bg-zinc-100 flex-grow m-36 rounded-xl">
                {% block content %}
                    {% comment %} Page content goes here {% endcomment %}
                {% endblock content %}
            </div>
        </div>
        <footer class="footer footer-center mt-auto bg-base-300 text-base-content p-4">
            <aside>
                <p class="font-semibold">Copyright © 2025 - All right reserved by RepCheck</p>
                <p class="font-semibold">
                    Backgound image generously provided by Goldstreet Photography | <a target="_blank"
    rel="noopener noreferrer"
    href="https://www.etsy.com/shop/goldstreet?">Etsy Shop</a>
                </p>
            </aside>
        </footer>
    </body>
</html>
