{% block content %}
    {% load congress_extras %}
    <div class="flex flex-col items-center md:m-10">
        
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:gap-10 w-full justify-items-center card bg-zinc-200 m-10 rounded-md md:p-2 p-6 drop-shadow-xl shadow-black">
            {% if house_members|length == 0 %}
                <div class="text-center text-lg font-semibold h-96">No members found for this Congress.</div>
            {% endif %}
            {% for member in house_members %}
                {% include "congress/components/member_card.html" %}
            {% endfor %}
        </div>
        <div class="pagination flex flex-col md:flex-row justify-center items-center m-4">
            {% if house_members.has_previous %}
                <a href="{{ url_with_params page=1 }}"
                   class="btn flex justify-center items-center">
                    <button>First</button>
                </a>
            {% endif %}
            <div class="join m-2">
                {% if house_members.has_previous %}
                    <a href="?congress={{ congress_id }}&page={{ house_members.previous_page_number }}">
                        <button class="join-item btn">«</button>
                    </a>
                {% endif %}
                <div class="join flex items-center">
                    {% for i in page_range %}
                        {% if i == '…' %}
                            <a href="?congress={{ congress_id }}&page={{ i }}"></a>
                            <button class="join-item btn">…</button>
                        {% else %}
                            <a href="?congress={{ congress_id }}&page={{ i }}">
                                <button class="join-item btn">{{ i }}</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if house_members.has_next %}
                    <a hx-push-url="true"
                       href="?congress={{ congress_id }}&page={{ house_members.next_page_number }}"
                       hx-target="#members-table"
                       hx-swap="outerHTML">
                        <button class="join-item btn">»</button>
                    </a>
                {% endif %}
            </div>
            {% if house_members.has_next %}
                <a href="?congress={{ congress_id }}&page={{ house_members.paginator.num_pages }}"
                   class="btn flex justify-center items-center">
                    <button>Last</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
