{% block content %}
    {% load congress_extras %}
    <div class="flex flex-col items-center">
        <div class="text-3xl mt-10 font-bold md:text-5xl">House Members of the {{ congress_number|ordinal }} Congress</div>
        <div class="badge-secondary m-10 rounded-xl p-8 drop-shadow-xl shadow-black w-3/4">
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr class="text-xl">
                            <th></th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>Party</th>
                        </tr>
                    </thead>
                    <tbody id="members-table" hx-target="#members-table" hx-swap="outerHTML">
                        {% if house_members|length == 0 %}
                            <tr>
                                <td colspan="5" class="text-center">No members found.</td>
                            </tr>
                        {% endif %}
                        {% for member in house_members %}
                            <tr class="hover text-xl">
                                <th>{{ forloop.counter|add:house_members.start_index|add:"-1" }}</th>
                                <th>
                                    <a href="{% url "detail" member.pk %}">
                                        <img src="{{ member.image_url }}"
                                             alt="Image of Congress Person"
                                             height=""
                                             width="150"
                                             class="rounded-xl mr-8 self-start cursor-pointer">
                                    </a>
                                </th>
                                <td>
                                    <a href="{% url "detail" member.pk %}" class="cursor-pointer">{{ member.name }}</a>
                                </td>
                                <td>{{ member.state }}</td>
                                <td>{{ member.party }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination flex justify-center items-center mt-4">
                    {% if house_members.has_previous %}
                        <a href="?congress={{ congress_id }}&page=1"
                           class="btn flex justify-center items-center">
                            <button>First</button>
                        </a>
                    {% endif %}
                    <div class="join m-2">
                        {% if house_members.has_previous %}
                            <a href="?congress={{ congress_id }}&page={{ house_members.previous_page_number }}">
                                <button class="join-item btn">«</button>
                            </a>
                        {% endif %}
                        <button class="join-item btn disabled">
                            <span class="current">Page {{ house_members.number }} of {{ house_members.paginator.num_pages }}</span>
                        </button>
                        {% if house_members.has_next %}
                            <a hx-push-url="true"
                               href="?congress={{ congress_id }}&page={{ house_members.next_page_number }}"
                               hx-target="#members-table"
                               hx-swap="outerHTML">
                                <button class="join-item btn">»</button>
                            </a>
                        {% endif %}
                    </div>
                    {% if house_members.has_next %}
                        <a href="?congress={{ congress_id }}&page={{ house_members.paginator.num_pages }}"
                           class="btn flex justify-center items-center">
                            <button>Last</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
