{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="flex items-center justify-center md:h-72">
    <p class="text-3xl text-center m-6 p-4 badge-ghost bg-zinc-200 md:w-1/2 rounded-lg font-[Forum]">
      "What country can preserve it's liberties if their rulers are not warned from time to time that their people preserve the spirit of resistance?"
      <br>
      <span class="text-3xl">-Thomas Jefferson</span>
    </p>
  </div>
  <div class="flex items-center flex-wrap justify-center md:w-3/4 p-2 mx-auto rounded-lg gap-8">
    <div class="p-6 flex-grow bg-zinc-200 rounded-lg drop-shadow-lg shadow-black">
      <img src="{% static "/theme/images/us-capitol-night-photo-print-l.jpg" %}"
           alt="US Capitol at Night"
           height=""
           width=""
           class="rounded-lg shadow-lg mb-4">
      <h1 class="text-6xl font-bold text-center">Welcome to RepCheck</h1>
      <p class="text-center text-lg mt-4">
        We are here to help you track and understand legislation that matters to you,
        <br>
        and to hold our representatives accountable through transparency.
      </p>
      <div class="md:h-24 h-32 text-6xl text-center mt-16 animate-bounce">↧</div>
      <div class="flex flex-col md:flex-row justify-center items-center gap-4 text-4xl font-bold">
        <a href="{% url 'congress' %}"
           class="flex items-center badge-info tranistion ease-in-out duration-300 hover:bg-secondary hover:bg-opacity-75 rounded-lg m-3 h-28 p-4 text-white">
          Track Legislators
        </a>
        <a href="{% url 'legislation_landing_page' %}"
           class="flex items-center badge-info tranistion ease-in-out duration-300 hover:bg-secondary hover:bg-opacity-75 rounded-lg m-3 h-28 p-4 text-white">
          Track Legislation
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center gap-4 mt-10 w-full max-w-4xl mx-auto">
      <h1 class="text-2xl">Search for the representatives and legislation that matter to you</h1>
      <form onsubmit="performSearch(event)"
            class="flex flex-col gap-2 md:flex-row items-center justify-center">
        <input type="text"
               placeholder="Search for legislation or representatives..."
               class="input input-bordered min-w-96 bg-transparent border-base-200 border-2"
               id="search-input"
               value="{{ search_query|default:'' }}">
        <button type="submit" class="btn btn-primary w-52 mx-auto">Search</button>
      </form>
    </div>
    <div class="flex flex-col justify-center items-center gap-4 mt-10 w-full max-w-4xl mx-auto text-2xl badge-xl shadow-lg border-2 border-base-100 rounded-md p-10">
      <h1 class="text-2xl text-center font-bold">
        Have you ever wondered...
        <br>
        "What actually happens in congress?"
      </h1>
      <p class="text-center">Below is a summary of the daily congressional digest <br>created by Google Gemini</p>
      <p class="text-xl font-bold">Summary:</p>
      <p class="text-xl">{{ summary|default:"No summary available." }}</p>
      <p class="text-xl">
        <a href="{{ url }}"
           target="_blank"
           class="text-blue-500 hover:underline">Source</a>
      </p>
    </div>
    <div class="flex flex-col">
      <nav class="text-4xl font-bold text-center mt-10">
        Latest Legislation
      </nav>
      <div class="grid grid-cols-1 mx-auto md:grid-cols-2 md:gap-10 md:p-6 w-full justify-items-center">
        {% for bill in bills %}
          {% include "legislation/components/legislation_card.html" with legislation=bill %}
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
function performSearch(event) {
    event.preventDefault(); // Prevent default form submission
    const searchValue = document.getElementById('search-input').value;
    
    if (searchValue.trim()) {
        // Redirect to search page with query parameter
        window.location.href = `/search/?q=${encodeURIComponent(searchValue)}`;
    }
}
</script>
{% endblock content %}
