{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:gap-5 w-full justify-items-center m-10 mx-auto p-4">
        {% for result in results %}
            {% if result.kind == "member" %}
                <div class="w-full">{% include "congress/components/member_card.html" with member=result %}</div>
            {% elif result.kind == "bill" %}
                <div class="w-full">{% include "legislation/components/legislation_card.html" with legislation=result %}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
