{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center justify-center h-screen mx-auto p-4">
    <div class="badge-secondary rounded-xl px-12 drop-shadow-xl shadow-black">
        <h1 class="text-3xl mt-6 font-bold text-nowrap md:text-4xl">Welcome to Congress</h1>
        <div class="flex justify-center items-center gap-4 p-4">
            <button hx-get="{% url 'house' %}" hx-target="#content" hx-push-url="true" class="btn btn-primary btn-lg">
               House<br/>of<br/>Representatives
            </button>
            <button hx-get="{% url 'senate' %}" hx-target="#content" hx-push-url="true" class="btn btn-accent btn-lg">
                Senate
            </button>
        </div>
    </div>
</div>
{% endblock content %}