{% extends "base.html" %}
{% block content %}
    {% load congress_extras %}
    <div class="flex flex-col items-center h-screen">
        <div class="flex badge-secondary m-10 rounded-xl p-8 drop-shadow-xl shadow-black">
            <div class="hero h-full">
                <div class="hero-content flex-col lg:flex-row w-full">
                    <img src="{{ member.image_url }}"
                         height=""
                         width="250"
                         alt="{{ member.first_name }} {{ member.last_name }}"
                         class="max-w-sm rounded-lg shadow-2xl" />
                    <div>
                        <h1 class="text-5xl font-bold">{{ member.first_name }} {{ member.last_name }}</h1>
                        <p class="py-6">
                            {{ member.full_name }}
                            {% if current %}
                                is currently
                            {% else %}
                                was most recently
                            {% endif %}
                            a {{ memberships.party }} member of the {{ memberships.chamber }} from
                            {% if memberships.district and memberships.chamber == "House of Representatives" %}
                                the {{ memberships.district|ordinal }} district of
                            {% endif %}
                            {{ member.state }}, and
                            {% if current %}has{% endif %}
                            served from {{ memberships.first_year }} to
                            {% if memberships.last_year == None %}
                                present.
                            {% else %}
                                {{ memberships.last_year }}.
                            {% endif %}
                        </p>
                        <button class="btn btn-primary" onclick="my_modal_4.showModal()">Contact & Links</button>
                        <dialog id="my_modal_4" class="modal">
                            <div class="modal-box w-3/4 max-w-4xl bg-zinc-100">
                                <div class="flex flex-col gap-8 p-4 mt-10">
                                    {% if current %}
                                        <div class="flex-1">
                                            <h3 class="text-3xl font-bold mb-2">Contact Information:</h3>
                                            <ul>
                                                <li>
                                                    Phone: <a href="tel:{{ member_details.phone_number }}">{{ member_details.phone_number }}</a>
                                                </li>
                                                {% if member_details.website_url %}
                                                    <li>
                                                        <a href="{{ member_details.website_url }}"
                                                           target="_blank"
                                                           class="underline">{{ member.last_name }}'s website</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        {% if member_details.facebook_url or member_details.instagram_url or member_details.twitter_url or member_details.youtube_url %}
                                            <div class="flex-1">
                                                <h3 class="text-3xl font-bold mb-2">Social Media:</h3>
                                                <ul>
                                                    {% if member_details.twitter_url %}
                                                        <li>
                                                            <a href="{{ member_details.twitter_url }}"
                                                               target="_blank"
                                                               class="underline">X</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if member_details.facebook_url %}
                                                        <li>
                                                            <a href="{{ member_details.facebook_url }}"
                                                               target="_blank"
                                                               class="underline">Facebook</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if member_details.instagram_url %}
                                                        <li>
                                                            <a href="{{ member_details.instagram_url }}"
                                                               target="_blank"
                                                               class="underline">Instagram</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if member_details.youtube_url %}
                                                        <li>
                                                            <a href="{{ member_details.youtube_url }}"
                                                               target="_blank"
                                                               class="underline">YouTube</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="flex-1">
                                        <h3 class="text-3xl font-bold mt-4">About:</h3>
                                        <p>
                                            <a href="{{ member_details.wikipedia_url }}"
                                               target="_blank"
                                               class="underline">Wikipedia</a>
                                        </p>
                                        {% if member_details.open_secrets_url %}
                                            <p>
                                                <a href="{{ member_details.open_secrets_url }}"
                                                   target="_blank"
                                                   class="underline">Open Secrets</a>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-action w-full flex justify-end">
                                        <form method="dialog">
                                            <button class="btn">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
